*{
    margin: 0;
    padding: 0;
}
.main-div{
    width:100%;
    height: 80vh;
    background: #6983aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.innerDiv{
    width: 25%;
    height: 60vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0,0,0.5);
    border-radius: 15px;
}
.heading1{
    color:rgb(185, 24, 24);
    background: transparent;
    padding: 6px 0 2px 0;
    background-color: turquoise;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0,0,0.8);
    border-radius: 8px;
}
.innerDiv input{
    text-align: center;
    height: 30px;
    top:6px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}
.innerDiv button{
    min-height: 40px;
    width: 30px;
    border-radius: 50%;
    border-color: transparent;
    color: #ffff;
    font-size: 30px;
    background-color: tomato;
    border: none;
    outline: none;

}
.listDiv{
    display: flex;
    justify-content: center;
}
.listDiv .fa-times{
    margin-right: 15px;
    font-size: 20px;
}
.listDiv li{
    font-size: 18px;
}
